/*
 *  Global font and page justify
 */
html *{
    font-size: 1em;
    color: #000;
}

div.contents {
    max-width: 60em;
    text-align: justify;
    text-justify: inter-word;
}

#doc-content {
    background: #F5F5F5;
}

#nav-tree {
    background: #F5F5F5;
}

/*
 *  Adjusts the size of the logo to match the 60em margin
 */
img[alt=HEFFTE_banner] {
    width: 60em;
}
